footer{
display: flex;
background-color: rgb(26, 46, 73);
color: white;
}
#sponsor{
    width: 25px;
    margin-left: 0px;
}
#message{
    width: 70%;
}
#partenaire{
    
    margin-left: 100px;   
}
#reseaux img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
footer h1{
    margin-left: 20px;
}
footer li{
    margin-let: 30px;
}

#logoaside img{
    width: 150px;
    height: px;
}
footer li{
    margin-left: 20px;
}
body{
    background-color: ;
    font-family: Arial, Helvetica, sans-serif;
    width: 1200px;
    height: 1200px;
}
#corps{
    margin: auto;
    width: 1200px;
}
nav a, section h1, aside h1, footer h1{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.5em;
}
header{
    background-color: rgb(26, 46, 73);
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    box-shadow: 15px 10px 10px rgb(50, 205, 50);
}
#entete{
    display: flex;
    flex-direction: column;
}
#logo{
    display: flex;
    flex-direction: row;
}
#logo img{
    width: 200px;
    height: px;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav li{
    margin-right: 20px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    text-decoration: underline;
}
#banniere{
    background-image: url(b1.jpg);
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    height: 180px;
    border-radius: 15px;
    box-shadow: rgb(26, 46, 73);
}
#slogan{
    bottom: 0;
    position: absolute;
    color: rgb(50, 205, 50);
    font-size: 2.5em;
    font-style: italic;
    padding-left: 400px;
    padding-bottom: 70px;
}
section{
    display: flex;
    border-bottom:solid 15px rgb(50, 205, 50); 
    margin: auto;
    height: 3900px;
    text-align: center;
}
#titre1{
    background-color: rgb(169, 164, 173);
}
aside{
    position: relative;
    background-color: rgb(26, 46, 73);
    border-radius: 20px;
    color: white;
    box-shadow: 15px 15px 5px rgb(50, 205, 50);
    margin-bottom: 25px;
    width: 1000px;
    height: 3850px;

}
#Immeuble img{
    height: 0px;
    width: 0px;
}
#rs img{
    width: 35px;
    height: 35px;
}
p{
    text-align: center;
    font-size: 20px;
    text-decoration-color: black;
}
#nosimmeubles{
    font-size: 18px;
    background-color: rgb(169, 164, 173);
}
#kebe{
    background-color:
}

