body{
    background-color: rgba(243, 112, 6, 0.904);
    font-family: Arial, Helvetica, sans-serif;
}
p, h1{
    color: white;
}
img{
    width: 280px;
    right: 110px;
}
#corps{
    margin: auto;
    width: 85%;
}
nav a, section h1, aside h1, footer h1{
    text-transform: uppercase;
    font-weight: normal;
} 
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 15px;
    box-shadow: 15px 20px 5px rgb(1, 3, 121);
}
#entete{
    display: flex;
    flex-direction: column;
}
#logo{
    display: flex;
    flex-direction: row;
}
#logo img{
    width: 350px;
    height: 200px;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav li{
    margin-right: 15px;
}
nav a{
    text-decoration: none;
    color: rgb(1, 3, 121);
    font-size: 1.2em;
}
#banniere{
    background: url("banniere2.jpg");
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    height: 200px;
    border-radius: 15px;
    box-shadow: 15px 20px 5px rgb(1, 3, 121);
}
#slogan{
    bottom: 0;
    position: absolute;
    color: rgb(1, 3, 121);
    font-size: 2em;
    font-style: italic;
    padding-left: 25px;
    padding-bottom: 25px;
}
section{
    display: flex;
    margin-bottom: 25px;
    border-bottom: solid 5px rgb(252, 248, 248);
}
article{
    margin-right: 30px 5px rgb(1, 3, 121);
}
article{
    margin-right: 30px;
}
article, aside{
    text-align: justify;
}
aside{
    position: relative;
    background-color: rgb(1, 3, 121);
    border-radius: 15px;
    color: rgb(250, 244, 243);
    box-shadow: 15px 15px 5px rgb(253, 250, 249);
    margin-bottom: 25px;
}
#cle, #rs, aside h1{
    text-align: center;
}
#cle img{
    width: 200px;
    height: 200px;
}
#rs img{
    width: 250px;
    height: 70px;
}
aside p{
    padding: 15px;
    font-size: 1em;
}
footer{
    display: block;
    background-color: rgb(1, 3, 121);
    color: white;
}
footer h1{
    font-size: 1em;
}
#partenaires h1, li{
    text-align: center;
    margin: 10px;
}


#table{
    border-collapse: collapse;
    width: 90%;
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 25px;
    
}
th, td{
    border: 1px solid #dddddd;
    padding: 12px;
    text-align: left;
    color: white;
    font-size: 18px;
    min-width: 150px;
    text-align: center;
}
th{
    background-color: #f2f2f2;
    font-weight: bold;
}
h1{
    font-size: 1.2em;
    margin: 18px 0;
}
.contact-section{
    padding: 40px 0;
    margin-top: 40px;
    width: 90%;
}
input, textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
